/* Container for the tooltip */
.faktor-notification {
  position: fixed;
  z-index: 2147483648 !important;
  user-select: none;

  opacity: 1;
  animation-name: faktor-fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 4px 20px;
}

.faktor-notification.light-mode {
  /* CSS properties for light mode */
  background-color: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 4px 20px;
}

.faktor-notification .faktor-tooltip {
  position: relative;
  display: flex;
  width: 228px;
  height: 38px;
  padding: 11px;

  box-sizing: content-box !important;

  background-color: light-dark(#555, #000);

  border: 1px solid light-dark(#fff, rgb(38, 38, 38));
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  flex: 1;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  cursor: pointer;
}

.faktor-notification .faktor-tooltip .faktor-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.faktor-notification .faktor-tooltip .faktor-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.faktor-notification .faktor-tooltip .faktor-content .faktor-source {
  font-size: 12px;
  color: #bebebe;
}

/* Message icon style */
.faktor-notification .faktor-icon {
  background: #eee;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.faktor-notification .faktor-icon::before {
  content: "\1F4AC"; /* Unicode for speech balloon icon */
  font-size: 16px;
}

.faktor-notification .faktor-tooltip:hover {
  background-color: #4a90e2;
  color: #fff !important;
}

.faktor-notification
  .faktor-tooltip:hover
  .faktor-notification
  .faktor-tooltip
  .faktor-content
  .faktor-source {
  color: #fff !important;
}

@keyframes faktor-fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
