/* Container for the tooltip */
.autho-notification {
  position: fixed;
  z-index: 2147483648 !important;
}

.autho-notification .autho-tooltip {
  position: relative;
  display: flex;
  width: 228px;
  height: 38px;
  padding: 11px;

  box-sizing: content-box !important;

  background-color: #555;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  flex: 1;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  cursor: pointer;
}

.autho-notification .autho-tooltip .autho-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.autho-notification .autho-tooltip .autho-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.autho-notification .autho-tooltip .autho-content .autho-source {
  font-size: 12px;
  color: #bebebe;
}

/* Message icon style */
.autho-notification .autho-icon {
  background: #eee;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.autho-notification .autho-icon::before {
  content: "\1F4AC"; /* Unicode for speech balloon icon */
  font-size: 16px;
}

.autho-notification .autho-tooltip:hover {
  background-color: #4a90e2;
  color: #fff !important;
}

.autho-notification
  .autho-tooltip:hover
  .autho-notification
  .autho-tooltip
  .autho-content
  .autho-source {
  color: #fff !important;
}
