/* Container for the tooltip */
.faktor-notification {
  color-scheme: light dark;

  position: fixed;
  z-index: 2147483648 !important;
  user-select: none;

  opacity: 1;
  animation-name: faktor-fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;

  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 13px;
  cursor: pointer;
}

.faktor-notification .faktor-tooltip {
  position: relative;
  width: 234px;

  padding: 7px;

  box-sizing: content-box !important;

  background-color: light-dark(#e4e3e2, #555);

  border: 1px solid light-dark(rgba(255, 255, 255, 0), #838484);
  outline: 0.5px solid light-dark(#b7b7b7, #000);

  color: light-dark(#494949, #efefef);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.faktor-notification .faktor-inner {
  display: flex;
  flex: 1;
  align-items: center;
  box-sizing: content-box !important;

  padding: 7px;

  border-radius: 8px;
}

/* Hover styling */
.faktor-notification:hover .faktor-inner {
  background-color: light-dark(#569fff, #648ee6);
  color: #fff !important;
}

.faktor-notification .faktor-tooltip .faktor-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 13px;
  padding: 0 0 1px 0;
  margin: 0;
}

.faktor-notification .faktor-tooltip .faktor-content .faktor-source {
  font-size: 12px;
  color: light-dark(#656463, #dfe0e1);
}

.faktor-notification:hover .faktor-tooltip .faktor-content .faktor-source {
  color: #fff;
}

/* Message icon style */
.faktor-notification .faktor-icon {
  background: #eee;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.faktor-notification .faktor-icon::before {
  content: "\1F4AC"; /* Unicode for speech balloon icon */
  font-size: 16px;
}

@keyframes faktor-fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
